<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Restriction Digest Tool</title>


</head>
	
	<body>

	<h1>
		Digest your Protein Sequence
	</h1>

	<p>This tool was created to mimic Expasy's Restriction Enzyme Digest Tool. This application allows you digest user inputed protein sequences and filter your results by weight,length, missed cleavage sites, and the specific enzyme.</p>

		<form action = "http://localhost:5000/result" method = "POST">
		  <fieldset>
		    <div style = font-size:20px; font-weight:bold; margin-left:150px;>
		    {{form.sequence_input.label}}<br>
		    {{form.sequence_input}}
		    <br>
		    <br>
		    <div>
		    	<label for="file">Choose a fasta file to upload</label>
		    	<input type ="file" id="file" name="file" multiple>
		    </div>
			<div>
				<button>Submit</button>
			</div>
		    <br>
		    {{form.enzyme.label}}<br>
		    {{form.enzyme}}
		    <br>
		    <br>
		    {{form.missed_cleavage.label}}<br>
		    {{form.missed_cleavage}}
		    <br>
		    {{form.min_weight.label}}<br>
		    {{form.min_weight}}
		    <br>
		    {{form.max_weight.label}}<br>
		    {{form.max_weight}}
		    <br>
		    {{form.min_length.label}}<br>
		    {{form.min_length}}
		    <br>
		    {{form.max_length.label}}<br>
		    {{form.max_length}}
		    <br>
		    {{form.submit}}
		    <br>
		    </div>
		    

		    </div>
		  </fieldset>

		      <div>
		    	<label for="file">Choose a fasta file to upload</label>
		    	<input type ="file" id="file" name="file" multiple>
		    </div>



	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<p>By Alexander Wong</p>
	</body>



</html>